Task 1: Import Pandas Library and create a dataframe named "salesdata" from a given URL and then print it. URL - https://raw.githubusercontent.com/Invact-Abhay/DOE11/main/SalesLocationData.csv

In [2]:
import pandas as pd
salesdata=pd.read_csv("https://raw.githubusercontent.com/Invact-Abhay/DOE11/main/SalesLocationData.csv")
salesdata

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
0,B-25681,1096,658,7,Electronics,Electronic Games,COD,Madhya Pradesh,Indore
1,B-26055,5729,64,14,Furniture,Chairs,EMI,Uttar Pradesh,Mathura
2,B-25955,2927,146,8,Furniture,Bookcases,EMI,Maharashtra,Pune
3,B-26093,2847,712,8,Electronics,Printers,Credit Card,Maharashtra,Pune
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card,Maharashtra,Pune
...,...,...,...,...,...,...,...,...,...
1495,B-25700,7,-3,2,Clothing,Hankerchief,COD,Maharashtra,Mumbai
1496,B-25757,3151,-35,7,Clothing,Trousers,EMI,Madhya Pradesh,Indore
1497,B-25973,4141,1698,13,Electronics,Printers,COD,Uttar Pradesh,Mathura
1498,B-25698,7,-2,1,Clothing,Hankerchief,COD,Tamil Nadu,Chennai
1499,B-25993,4363,305,5,Furniture,Tables,EMI,Delhi,Delhi

**Task 2:**

Sort the dataframe  by arranging

"City" column in descending order

then "Category" column in ascending order.

In [3]:
salesdata.sort_values(['City','Category'],ascending=[False,True])

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
191,B-25980,22,11,3,Clothing,Kurti,COD,Rajasthan,Udaipur
266,B-25898,33,13,3,Clothing,Leggings,UPI,Rajasthan,Udaipur
487,B-25986,71,4,5,Clothing,Leggings,Debit Card,Rajasthan,Udaipur
499,B-25886,89,17,2,Clothing,Stole,UPI,Rajasthan,Udaipur
623,B-25874,124,54,5,Clothing,T-shirt,COD,Rajasthan,Udaipur
...,...,...,...,...,...,...,...,...,...
715,B-25853,95,11,4,Furniture,Furnishings,COD,Gujarat,Ahmedabad
904,B-25954,189,60,4,Furniture,Furnishings,Debit Card,Gujarat,Ahmedabad
905,B-25763,58,-52,3,Furniture,Chairs,COD,Gujarat,Ahmedabad
1304,B-25745,670,15,5,Furniture,Bookcases,Debit Card,Gujarat,Ahmedabad
1423,B-25601,1275,1148,7,Furniture,Bookcases,EMI,Gujarat,Ahmedabad

**Task 3:**

Sort the dataframe  by arranging

"Sub-Category" column in ascending order

then "City" column in ascending order

In [4]:
salesdata.sort_values(['Sub-Category','City'],ascending=[True,True])

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
46,B-25943,1547,340,6,Electronics,Accessories,EMI,Gujarat,Ahmedabad
967,B-25947,207,33,2,Electronics,Accessories,UPI,Gujarat,Ahmedabad
764,B-25921,84,-42,2,Electronics,Accessories,COD,Punjab,Amritsar
1070,B-25921,71,-44,5,Electronics,Accessories,UPI,Punjab,Amritsar
1365,B-25968,811,154,7,Electronics,Accessories,UPI,Punjab,Amritsar
...,...,...,...,...,...,...,...,...,...
1416,B-26048,1104,209,4,Clothing,Trousers,UPI,Maharashtra,Pune
1462,B-25877,1137,568,2,Clothing,Trousers,EMI,Gujarat,Surat
40,B-25755,1709,564,3,Clothing,Trousers,Credit Card,Kerala,Thiruvananthapuram
400,B-26057,224,87,3,Clothing,Trousers,COD,Kerala,Thiruvananthapuram
1461,B-25629,1560,421,3,Clothing,Trousers,COD,Kerala,Thiruvananthapuram

**Task 4:**

Filter the dataframe  for

ProductCategory - "Electronics" and "Clothing"

Sort the dataframe by arranging

"Category" column in ascending order

then "Quantity" column in descending order

In [6]:
salesdata.query('Category in ["Electronics","Clothing"]').sort_values(['Category','Quantity'],ascending=[True,False])

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
428,B-26055,213,4,14,Clothing,Shirt,COD,Uttar Pradesh,Mathura
52,B-25640,1499,239,13,Clothing,Saree,Credit Card,Rajasthan,Jaipur
155,B-26019,585,175,13,Clothing,T-shirt,COD,Uttar Pradesh,Lucknow
835,B-25750,42,-15,12,Clothing,Skirt,UPI,Madhya Pradesh,Indore
1259,B-25973,571,108,12,Clothing,Stole,Debit Card,Uttar Pradesh,Mathura
...,...,...,...,...,...,...,...,...,...
1114,B-25868,62,-1,1,Electronics,Phones,UPI,Goa,Goa
1163,B-25643,36,-7,1,Electronics,Electronic Games,COD,Jammu and Kashmir,Kashmir
1224,B-25951,40,18,1,Electronics,Accessories,Credit Card,West Bengal,Kolkata
1320,B-25796,28,1,1,Electronics,Accessories,UPI,Maharashtra,Mumbai
1367,B-25699,21,-5,1,Electronics,Accessories,COD,Uttar Pradesh,Lucknow

**Task 5:**

Filter the dataframe

For the PaymentMode - "COD"

and Amount less than 90.

In [7]:
salesdata.query('PaymentMode=="COD" and Amount<90')

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
23,B-25845,82,-33,4,Clothing,Kurti,COD,Kerala,Thiruvananthapuram
57,B-25714,11,-5,2,Clothing,Hankerchief,COD,Karnataka,Bangalore
72,B-25667,11,-2,4,Clothing,Hankerchief,COD,Haryana,Chandigarh
79,B-25735,12,-2,3,Clothing,Hankerchief,COD,Uttar Pradesh,Lucknow
85,B-25693,76,-72,9,Clothing,Hankerchief,COD,Madhya Pradesh,Bhopal
...,...,...,...,...,...,...,...,...,...
1478,B-25655,7,-4,3,Clothing,Hankerchief,COD,Madhya Pradesh,Indore
1493,B-25873,7,1,1,Clothing,Hankerchief,COD,Madhya Pradesh,Indore
1494,B-25740,7,0,2,Clothing,Skirt,COD,Maharashtra,Mumbai
1495,B-25700,7,-3,2,Clothing,Hankerchief,COD,Maharashtra,Mumbai
1498,B-25698,7,-2,1,Clothing,Hankerchief,COD,Tamil Nadu,Chennai

**Task 6:**

Filter the dataframe

For the PaymentMode - "UPI"

and Amount is less than average amount.

In [9]:
salesdata.query('PaymentMode=="UPI" and Amount<Amount.mean()')

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
8,B-25643,50,-44,2,Clothing,Hankerchief,UPI,Jammu and Kashmir,Kashmir
15,B-25655,6,-3,1,Clothing,Hankerchief,UPI,Madhya Pradesh,Indore
17,B-26095,6,1,1,Clothing,Kurti,UPI,Rajasthan,Jaipur
19,B-25735,7,-1,2,Clothing,Skirt,UPI,Uttar Pradesh,Lucknow
24,B-26001,8,2,2,Clothing,Skirt,UPI,Delhi,Delhi
...,...,...,...,...,...,...,...,...,...
1459,B-25723,16,-12,2,Clothing,Stole,UPI,Maharashtra,Mumbai
1464,B-25735,15,-7,1,Clothing,Hankerchief,UPI,Uttar Pradesh,Lucknow
1465,B-26097,14,5,1,Clothing,Hankerchief,UPI,Karnataka,Bangalore
1466,B-26070,14,7,2,Clothing,Hankerchief,UPI,Karnataka,Bangalore
1471,B-25950,13,4,1,Clothing,Leggings,UPI,Madhya Pradesh,Indore

**Task 7:**

Filter the dataframe for

For the PaymentMode - "UPI"

and Amount less than 90

Sort the Filtered dataframe by arranging

"Amount" column in descending order

In [10]:
salesdata.query('PaymentMode=="UPI" and Amount<90').sort_values('Amount',ascending=False)

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
591,B-26030,89,36,3,Clothing,Shirt,UPI,Maharashtra,Pune
499,B-25886,89,17,2,Clothing,Stole,UPI,Rajasthan,Udaipur
580,B-25951,89,29,2,Clothing,Stole,UPI,West Bengal,Kolkata
482,B-25987,88,11,7,Clothing,Hankerchief,UPI,Delhi,Delhi
1039,B-25746,87,16,2,Clothing,Saree,UPI,Maharashtra,Pune
...,...,...,...,...,...,...,...,...,...
24,B-26001,8,2,2,Clothing,Skirt,UPI,Delhi,Delhi
19,B-25735,7,-1,2,Clothing,Skirt,UPI,Uttar Pradesh,Lucknow
868,B-25678,7,-3,2,Clothing,Skirt,UPI,Karnataka,Bangalore
17,B-26095,6,1,1,Clothing,Kurti,UPI,Rajasthan,Jaipur
15,B-25655,6,-3,1,Clothing,Hankerchief,UPI,Madhya Pradesh,Indore

**Task 8:**

Filter the dataframe  for

For the Category - "Furniture"

and Profit greater than 500

Sort the dataframe  by arranging

"Profit" column in descending order

Retrieve only Profit Column

In [13]:
salesdata.query('Category=="Furniture" and Profit>500').sort_values('Profit',ascending=False)["Profit"]

59      1864
1423    1148
14      1050
44       980
37       802
18       721
1480     701
68       536
Name: Profit, dtype: int64

**Task 9:**

Filter the dataframe  for

For the Category - "Clothing"

and Profit is more than Average Profit

Sort the dataframe by arranging

Profit column in descending order

Retrieve only "Order ID" Column.

In [14]:
salesdata.query('Category=="Clothing" and Profit>Profit.mean()').sort_values('Profit',ascending=False)["Order ID"]

1468    B-25656
55      B-26085
1462    B-25877
40      B-25755
1457    B-26099
         ...
840     B-25871
1127    B-25936
894     B-25938
353     B-26030
813     B-26093
Name: Order ID, Length: 224, dtype: object


**Task 10:**

Filter the dataframe  for

State - "Maharashtra" and "Karnataka"

Quantity greater than 5

Amount greater than 100

Sort the Filtered dataframe by arranging

"State" column in descending alphabetical order

then "Quantity" colum in descending order.

Retrieve only "Order ID" Column.

In [17]:
salesdata.query('State in ["Maharashtra","Karnataka"] and Quantity>5 and Amount>100').sort_values(['State','Quantity'],ascending=[False,False])["Order ID"]

229     B-25662
1299    B-25802
1426    B-25964
1490    B-25858
73      B-25836
431     B-25955
626     B-25800
686     B-25656
1161    B-25702
1245    B-25854
1393    B-25890
2       B-25955
3       B-26093
26      B-25842
276     B-25650
573     B-25896
839     B-25602
1236    B-25726
1381    B-25638
1482    B-25823
418     B-25858
1102    B-26036
1105    B-25978
1117    B-25854
1135    B-25782
1277    B-25710
1364    B-25902
1386    B-25813
1468    B-25656
1474    B-25955
1487    B-25997
12      B-25923
27      B-25778
128     B-25878
147     B-25796
240     B-25933
315     B-25896
333     B-26048
396     B-25710
544     B-25854
661     B-25778
832     B-26064
304     B-25642
393     B-25714
452     B-25840
472     B-26097
1450    B-25768
Name: Order ID, dtype: object

**Task 11:**

Store the user input for the category in the variable named as "Input_Category". Text to be shown to the user: "Enter the Category Name : "

Filter the sales dataframe for

City - "Delhi" and "Pune" and Category - 'To be taken from user input' and store the resultant data in the "Sales1" dataframe.

Print the Sales1 dataframe

At the end the user input should be-

Category (Input_Category) - Enter the Category Name : Furniture

In [18]:
Input_Category=input("Enter the Category Name : ")
Sales1=salesdata.query('City in ["Delhi","Pune"] and Category==@Input_Category')
Sales1

Enter the Category Name : Furniture

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
2,B-25955,2927,146,8,Furniture,Bookcases,EMI,Maharashtra,Pune
20,B-25910,1622,-624,5,Furniture,Tables,Credit Card,Delhi,Delhi
30,B-26048,1461,202,5,Furniture,Tables,EMI,Maharashtra,Pune
44,B-25779,1361,980,3,Furniture,Tables,COD,Maharashtra,Pune
64,B-25995,1314,342,3,Furniture,Bookcases,Credit Card,Delhi,Delhi
153,B-26093,852,51,5,Furniture,Bookcases,Credit Card,Maharashtra,Pune
167,B-25962,544,-152,3,Furniture,Bookcases,COD,Maharashtra,Pune
250,B-25983,561,118,5,Furniture,Bookcases,Credit Card,Delhi,Delhi
280,B-25964,346,108,3,Furniture,Chairs,COD,Maharashtra,Pune
333,B-26048,401,13,6,Furniture,Chairs,Credit Card,Maharashtra,Pune
395,B-25989,330,81,1,Furniture,Bookcases,Credit Card,Delhi,Delhi
396,B-25710,216,-38,6,Furniture,Furnishings,UPI,Maharashtra,Pune
521,B-25983,161,-229,8,Furniture,Furnishings,COD,Delhi,Delhi
541,B-25948,152,23,3,Furniture,Furnishings,COD,Maharashtra,Pune
557,B-26001,149,17,4,Furniture,Furnishings,COD,Delhi,Delhi
628,B-25638,182,-11,3,Furniture,Bookcases,Credit Card,Maharashtra,Pune
663,B-25999,109,40,1,Furniture,Furnishings,COD,Delhi,Delhi
678,B-25904,83,12,2,Furniture,Chairs,COD,Delhi,Delhi
932,B-25993,221,26,7,Furniture,Furnishings,COD,Delhi,Delhi
985,B-25993,201,32,4,Furniture,Furnishings,UPI,Delhi,Delhi
1031,B-25981,245,91,2,Furniture,Bookcases,UPI,Delhi,Delhi
1117,B-25854,342,-154,7,Furniture,Furnishings,Debit Card,Maharashtra,Pune
1171,B-25914,460,-143,3,Furniture,Chairs,Debit Card,Delhi,Delhi
1267,B-25996,217,72,2,Furniture,Furnishings,COD,Delhi,Delhi
1270,B-26000,597,93,4,Furniture,Chairs,Debit Card,Delhi,Delhi
1277,B-25710,616,-69,7,Furniture,Furnishings,Debit Card,Maharashtra,Pune
1311,B-25983,32,-12,1,Furniture,Chairs,Credit Card,Delhi,Delhi
1378,B-25904,871,131,2,Furniture,Bookcases,UPI,Delhi,Delhi
1381,B-25638,880,97,8,Furniture,Furnishings,Debit Card,Maharashtra,Pune
1487,B-25997,2292,127,7,Furniture,Bookcases,COD,Maharashtra,Pune
1499,B-25993,4363,305,5,Furniture,Tables,EMI,Delhi,Delhi

**Task 12:**

Store the user input for the state in the variable named as "Input_State". Text to be shown to the user "Enter the State Name : "

Filter the Sales dataframe for

Category- "Electronics" and "Clothing"

and Amount greater than 1000

and State to be taken from user input. Store the resultant data in "Sales2" dataframe.

Sort the "Sales2" dataframe by arranging

"Quantity" column in descending order

At the end the user input should be-

State (Input_State) - Enter the name of State: 'West Bengal'

In [19]:
Input_State=input("Enter the State Name : ")
Sales2=salesdata.query('Category in ["Electronics","Clothing"] and Amount>1000 and State==@Input_State')
Sales2.sort_values('Quantity',ascending=False)

Enter the State Name : West Bengal

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
60,B-26051,1337,147,7,Electronics,Printers,Credit Card,West Bengal,Kolkata
92,B-25839,1250,486,7,Clothing,Saree,EMI,West Bengal,Kolkata

**Task 13:**

Store the user input for the State in the variable named as "Input_State2". Text to be shown to the user "Enter the State Name : "

Store the user input for the PaymentMode in the variable named as "Input_PaymentMode". Text to be shown to the user "Enter the PaymentMode: "

Filter the sales dataframe for State to be taken from user input and PaymentMode to be taken from user input. Store the resultant data in "Sales3" dataframe.

Sort the "Sales3" by arranging

"Profit" column in descending order

At the end the user input should be-

State (Input_State2) - Enter the name of State: Karnataka

PaymentMode (Input_PaymentMode) - Enter the name of PaymentMode: "Debit Card"

In [20]:
Input_State2=input("Enter the State Name : ")
Input_PaymentMode=input("Enter the PaymentMode: ")
Sales3=salesdata.query('State==@Input_State2 and PaymentMode==@Input_PaymentMode')
Sales3.sort_values('Profit',ascending=False)

Enter the State Name : Karnataka
Enter the PaymentMode: Debit Card

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,State,City
355,B-25696,44,99,3,Clothing,Kurti,Debit Card,Karnataka,Bangalore
1095,B-25804,321,26,3,Electronics,Printers,Debit Card,Karnataka,Bangalore
83,B-26079,18,3,2,Clothing,Hankerchief,Debit Card,Karnataka,Bangalore
233,B-25678,27,-25,2,Clothing,Shirt,Debit Card,Karnataka,Bangalore

**Task 14:**

Store the user input for the Category in the variable named as "Input_Category1". Text to be shown to the user "Enter the Category Name : "

Filter the sales dataframe

for City - Bangalore and Chennai

and category to be taken from user input. Store the resultant data in "Sales4" dataframe.

Create a pivot table using the Sales4 dataframe named pivot_2 to show the Sub-Category-wise total Amount and total Profit for each of the category. Use index as sub-category, columns as City and values as Amount and Profit. Print this pivot table. This will show the data for the category selected by the user.

At the end the user input should be-

Category (Input_Category1) - Enter the Category  name : "Clothing"

In [22]:
Input_Category1=input("Enter the Category Name : ")
Sales4=salesdata.query('City in ["Bangalore","Chennai"] and Category==@Input_Category1')
pivot_2=pd.pivot_table(Sales4,index=["Sub-Category"],columns=["City"],values=["Amount","Profit"],aggfunc={"Amount":['sum'],"Profit":['sum']})
pivot_2

Enter the Category Name : Clothing

                Amount            Profit
                   sum               sum
City         Bangalore Chennai Bangalore Chennai
Sub-Category
Hankerchief      401.0   582.0      46.0    85.0
Kurti            270.0   199.0      94.0   -59.0
Leggings          39.0    57.0     -18.0    24.0
Saree           1309.0  1194.0    -296.0   118.0
Shirt           1031.0     NaN      47.0     NaN
Skirt              7.0     NaN      -3.0     NaN
Stole             41.0   113.0       2.0    40.0
T-shirt          257.0     NaN      52.0     NaN
Trousers        1657.0     NaN    -414.0     NaN

**Submission of exercise:**


*   Once you have completed all the tasks in the colab file, please provide editor’s access so that evaluators can provide comments if necessary.
*   Once done, copy the link of the colab file and paste it in the box given below. Click on the Submit button to submit your exercise.