**Task 1:**


Import Pandas Library and create a dataframe named "salesdata" from a given URL and then print it.

 URL - https://raw.githubusercontent.com/Invact-Abhay/DOE11/main/supermarket_sales%20-%20Sheet1.csv

In [1]:
import pandas as pd
salesdata=pd.read_csv("https://raw.githubusercontent.com/Invact-Abhay/DOE11/main/supermarket_sales%20-%20Sheet1.csv")
salesdata

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.76,26.14,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.76,3.82,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.76,16.22,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.76,23.29,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.76,30.21,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.76,2.02,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.76,48.69,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.76,1.59,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.76,3.29,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.76,30.92,6.6

**Task 2:**

Sort the dataframe  by arranging

"City" column in descending order

then "Gender" column in ascending order.

Show only 5 top rows

In [2]:
salesdata.sort_values(['City','Gender'],ascending=[False,True]).head()

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.76,26.14,9.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.76,20.65,5.8
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.76,3.63,7.2
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.76,11.74,7.1
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.76,35.69,5.7

**Task 3:**

Sort the dataframe  by arranging

"Customer_type" column in ascending order

then "City" column in ascending order

Show only top 5 rows

In [3]:
salesdata.sort_values(['Customer_type','City'],ascending=[True,True]).head()

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.76,8.23,5.9
10,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,60.8160,2/6/2019,18:07,Ewallet,57.92,4.76,2.90,4.5
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.76,5.10,6.8
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,1/15/2019,16:19,Cash,562.32,4.76,28.12,4.5
31,149-71-6266,B,Mandalay,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/2019,12:43,Cash,702.63,4.76,35.13,4.5

**Task 4:**

Filter the dataframe  for

Productline - "Electronic accessories" and "Sports and travel"

and customer_type is 'Member'

Sort the dataframe by arranging

"Productline" column in ascending order

then "Quantity" column in descending order

In [5]:
salesdata.query('Productline in ["Electronic accessories","Sports and travel"] and Customer_type=="Member"').sort_values(['Productline','Quantity'],ascending=[True,False])

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.3350,931.0350,1/12/2019,14:50,Ewallet,886.70,4.76,44.34,7.3
109,861-77-0145,C,Naypyitaw,Member,Male,Electronic accessories,81.97,10,40.9850,860.6850,3/3/2019,14:30,Cash,819.70,4.76,40.99,9.2
290,139-20-0155,B,Mandalay,Member,Male,Electronic accessories,40.30,10,20.1500,423.1500,1/24/2019,17:37,Credit card,403.00,4.76,20.15,7.0
314,227-07-4446,C,Naypyitaw,Member,Female,Electronic accessories,78.13,10,39.0650,820.3650,2/10/2019,20:51,Cash,781.30,4.76,39.07,4.4
458,325-90-8763,C,Naypyitaw,Member,Female,Electronic accessories,46.57,10,23.2850,488.9850,1/27/2019,13:58,Cash,465.70,4.76,23.29,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,560-49-6611,A,Yangon,Member,Female,Sports and travel,45.58,1,2.2790,47.8590,2/7/2019,14:13,Cash,45.58,4.76,2.28,9.8
613,284-54-4231,C,Naypyitaw,Member,Male,Sports and travel,80.93,1,4.0465,84.9765,1/19/2019,16:08,Credit card,80.93,4.76,4.05,9.0
822,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2/7/2019,14:15,Cash,10.17,4.76,0.51,5.9
916,722-13-2115,C,Naypyitaw,Member,Male,Sports and travel,42.85,1,2.1425,44.9925,3/14/2019,15:36,Credit card,42.85,4.76,2.14,9.3
926,321-49-7382,B,Mandalay,Member,Male,Sports and travel,88.31,1,4.4155,92.7255,2/15/2019,17:38,Credit card,88.31,4.76,4.42,5.2

**Task 5:**

Filter the dataframe  

For the Payment - "Cash"

and GrossIncome less than 1.

In [7]:
salesdata.query('Payment=="Cash" and GrossIncome<1')

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
69,382-03-4532,A,Yangon,Member,Female,Health and beauty,18.33,1,0.9165,19.2465,2/2/2019,18:50,Cash,18.33,4.76,0.92,4.3
223,279-62-1445,C,Naypyitaw,Member,Female,Fashion accessories,12.54,1,0.6270,13.1670,2/21/2019,12:38,Cash,12.54,4.76,0.63,8.2
282,490-29-1201,A,Yangon,Normal,Female,Sports and travel,15.34,1,0.7670,16.1070,1/6/2019,11:09,Cash,15.34,4.76,0.77,6.5
424,489-64-4354,C,Naypyitaw,Normal,Male,Fashion accessories,16.28,1,0.8140,17.0940,3/9/2019,15:36,Cash,16.28,4.76,0.81,5.0
808,559-61-5987,B,Mandalay,Normal,Female,Health and beauty,17.75,1,0.8875,18.6375,1/14/2019,10:38,Cash,17.75,4.76,0.89,8.6
822,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2/7/2019,14:15,Cash,10.17,4.76,0.51,5.9

**Task 6:**

Filter the dataframe  

For the Payment - "Credit card"

and GrossIncome is less than average GrossIncome.

Retrieve only City column

In [11]:
salesdata.query('Payment=="Credit card" and GrossIncome<GrossIncome.mean()')["City"]

8        Yangon
9      Mandalay
18       Yangon
22     Mandalay
27       Yangon
         ...
969    Mandalay
975    Mandalay
978    Mandalay
979    Mandalay
990      Yangon
Name: City, Length: 186, dtype: object

**Task 7:**

Filter the dataframe

For the Payment - "Ewallet"

and GrossIncome less than 2

and Gender - Female

Sort the Filtered dataframe by arranging

"GrossIncome" column in descending order

In [12]:
salesdata.query('Payment=="Ewallet" and GrossIncome<2 and Gender=="Female"').sort_values('GrossIncome',ascending=False)

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
110,479-26-8945,B,Mandalay,Member,Female,Sports and travel,16.49,2,1.6490,34.6290,2/5/2019,11:32,Ewallet,32.98,4.76,1.65,4.6
501,573-98-8548,C,Naypyitaw,Member,Female,Fashion accessories,31.90,1,1.5950,33.4950,1/5/2019,12:40,Ewallet,31.90,4.76,1.60,9.1
986,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,1.4760,30.9960,2/18/2019,14:42,Ewallet,29.52,4.76,1.48,4.3
197,856-22-8149,A,Yangon,Normal,Female,Home and lifestyle,25.29,1,1.2645,26.5545,3/23/2019,10:13,Ewallet,25.29,4.76,1.26,6.1

**Task 8:**

Filter the dataframe

For the Productline - "Fashion accessories"

and cogs greater than 200

Sort the dataframe  by arranging

"cogs" column in descending order

Retrieve only cogs Column

In [13]:
salesdata.query('Productline=="Fashion accessories" and cogs>200').sort_values('cogs',ascending=False)["cogs"]

350    993.00
167    989.80
422    972.10
941    898.38
623    832.50
        ...
390    241.44
654    240.72
766    228.18
237    221.10
423    203.36
Name: cogs, Length: 89, dtype: float64

**Task 9:**

Filter the dataframe

For the Productline - "Sports and travel"

and cogs is more than Average cogs

and Rating is more than Average Rating

Sort the dataframe by arranging

cogs column in descending order

Retrieve only "City" Column.

In [15]:
salesdata.query('Productline=="Sports and travel" and cogs>cogs.mean() and Rating>Rating.mean()').sort_values('cogs',ascending=False)["City"]

435    Naypyitaw
529       Yangon
982       Yangon
129     Mandalay
727     Mandalay
265       Yangon
377    Naypyitaw
154    Naypyitaw
139       Yangon
159     Mandalay
131       Yangon
465    Naypyitaw
873       Yangon
138     Mandalay
62      Mandalay
566    Naypyitaw
169       Yangon
525       Yangon
91     Naypyitaw
676     Mandalay
937       Yangon
279       Yangon
574       Yangon
789       Yangon
499       Yangon
514    Naypyitaw
781       Yangon
107       Yangon
484    Naypyitaw
436    Naypyitaw
380       Yangon
603     Mandalay
882     Mandalay
36        Yangon
Name: City, dtype: object

**Task 10:**

Filter the dataframe  for

City - "Mandalay" and "Yangon"

Quantity greater than 5

GrossIncome greater than 30

Sort the Filtered dataframe by arranging

"City" column in descending alphabetical order

then "Quantity" colum in descending order.

Retrieve only "Invoice ID" Column.

In [18]:
salesdata.query('City in ["Mandalay","Yangon"] and Quantity>5 and GrossIncome>30').sort_values(['City','Quantity'],ascending=[False,False])["Invoice ID"]

14     829-34-3910
58     817-48-8732
68     232-11-3025
105    704-48-3927
167    687-47-8271
          ...
989    430-53-4718
433    616-87-0016
510    347-72-6115
622    670-79-6321
972    452-04-8808
Name: Invoice ID, Length: 88, dtype: object

**Task 11:**

 Store the user input for the Productline in the variable named as "Input_Productline". Text to be shown to the user: "Enter the Productline Name : "

Filter the sales dataframe for

City - "Naypyitaw" and "Yangon", Unitprice greater than 90 and Productline - 'To be taken from user input' and store the resultant data in the "Sales1" dataframe.

Print the Sales1 dataframe

At the end the user input should be-

Productline (Input_Productline) - Enter the Productline Name : Home and lifestyle

In [21]:
Input_Product=input("Enter the Productline Name : ")
Sales1=salesdata.query('City in ["Naypyitaw","Yangon"] and Unitprice>90 and Productline==@Input_Product')
Sales1

Enter the Productline Name : Home and lifestyle

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
125,668-90-8900,A,Yangon,Normal,Female,Home and lifestyle,93.69,7,32.7915,688.6215,3/10/2019,18:44,Credit card,655.83,4.76,32.79,4.5
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10,47.7900,1003.5900,1/16/2019,13:32,Cash,955.80,4.76,47.79,4.8
289,430-60-3493,A,Yangon,Member,Female,Home and lifestyle,94.88,7,33.2080,697.3680,2/3/2019,14:38,Cash,664.16,4.76,33.21,4.2
429,325-77-6186,A,Yangon,Member,Female,Home and lifestyle,90.65,10,45.3250,951.8250,3/8/2019,10:53,Ewallet,906.50,4.76,45.33,7.3
537,643-38-7867,A,Yangon,Normal,Male,Home and lifestyle,97.94,1,4.8970,102.8370,3/7/2019,11:44,Ewallet,97.94,4.76,4.90,6.9
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.7500,1023.7500,1/12/2019,16:18,Ewallet,975.00,4.76,48.75,8.0
739,805-86-0265,A,Yangon,Normal,Male,Home and lifestyle,93.96,9,42.2820,887.9220,3/20/2019,11:32,Cash,845.64,4.76,42.28,9.8
757,406-46-7107,A,Yangon,Normal,Female,Home and lifestyle,96.52,6,28.9560,608.0760,1/11/2019,11:52,Cash,579.12,4.76,28.96,4.5
912,453-33-6436,A,Yangon,Normal,Female,Home and lifestyle,93.12,8,37.2480,782.2080,2/7/2019,10:09,Cash,744.96,4.76,37.25,6.8

**Task 12:**


Store the user input for the city in the variable named as "Input_City". Text to be shown to the user "Enter the city Name : "

Filter the Sales dataframe for

Productline- "Health and beauty" and "Home and lifestyle"

and Customer_type - Normal

and Gender - Female

and Rating is greater than 7

and city to be taken from user input. Store the resultant data in "Sales2" dataframe.

Sort the "Sales2" dataframe by arranging

"Rating" column in descending order

At the end the user input should be-

City (Input_City) - Enter the name of City: 'Naypyitaw'

In [23]:
Input_City=input("Enter the city Name : ")
Sales2=salesdata.query('Productline in [ "Health and beauty","Home and lifestyle"] and Customer_type=="Normal" and Gender=="Female" and Rating>7 and City==@Input_City')
Sales2.sort_values('Rating',ascending=False)

Enter the city Name : Naypyitaw

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
145,458-41-1477,C,Naypyitaw,Normal,Female,Health and beauty,46.26,6,13.8780,291.4380,3/8/2019,17:11,Credit card,277.56,4.76,13.88,9.5
787,790-38-4466,C,Naypyitaw,Normal,Female,Health and beauty,10.99,5,2.7475,57.6975,1/23/2019,10:18,Credit card,54.95,4.76,2.75,9.3
783,468-99-7231,C,Naypyitaw,Normal,Female,Home and lifestyle,44.01,8,17.6040,369.6840,3/3/2019,17:36,Cash,352.08,4.76,17.60,8.8
416,750-57-9686,C,Naypyitaw,Normal,Female,Home and lifestyle,45.38,4,9.0760,190.5960,1/8/2019,13:48,Credit card,181.52,4.76,9.08,8.7
321,622-20-1945,C,Naypyitaw,Normal,Female,Health and beauty,39.42,1,1.9710,41.3910,1/18/2019,15:08,Cash,39.42,4.76,1.97,8.4
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.76,36.78,8.0
958,867-47-1948,C,Naypyitaw,Normal,Female,Home and lifestyle,15.80,10,7.9000,165.9000,1/9/2019,12:07,Cash,158.00,4.76,7.90,7.8
38,333-73-7901,C,Naypyitaw,Normal,Female,Health and beauty,54.92,8,21.9680,461.3280,3/23/2019,13:24,Ewallet,439.36,4.76,21.97,7.6
936,433-08-7822,C,Naypyitaw,Normal,Female,Health and beauty,78.89,7,27.6115,579.8415,1/5/2019,19:48,Ewallet,552.23,4.76,27.61,7.5
890,389-70-2397,C,Naypyitaw,Normal,Female,Health and beauty,83.66,5,20.9150,439.2150,2/21/2019,10:26,Cash,418.30,4.76,20.92,7.2

**Task 13:**


Store the user input for the City in the variable named as "Input_City2". Text to be shown to the user "Enter the City Name : "

Store the user input for the Payment in the variable named as "Input_Payment". Text to be shown to the user "Enter the Payment: "

Store the user input for the Productline in the variable named as "Input_Productline1". Text to be shown to the user "Enter the Productline Name:"

Store the user input for the Gender in the variable named as "Input_Gender". Text to be shown to the user "Enter the Gender:"


Filter the sales dataframe for City, Payment , Productline and Gender input taken from the user and Store the resultant data in "Sales3" dataframe.


Sort the "Sales3" by arranging
"Unitprice" column in descending order


At the end the user input should be-
City (Input_City2) - Enter the name of City: Mandalay
Payment (Input_Payment) - Enter the name of Payment: "Credit card"
Productline (Input_Productline1) - Enter the Productline Name: Sports and travel
Gender (Input_Gender) - Enter the Gender: Male

In [24]:
Input_City2=input("Enter the City Name : ")
Input_Payment=input("Enter the Payment: ")
Input_Productline1=input("Enter the Productline Name:")
Input_Gender=input("Enter the Gender:")
Sales3=salesdata.query('City==@Input_City2 and Payment==@Input_Payment and Gender==@Input_Gender')
Sales3.sort_values('Unitprice',ascending=False)

Enter the City Name : Mandalay
Enter the Payment: Credit card
Enter the Productline Name:Sports and travel
Enter the Gender:Male

,Invoice ID,Branch,City,Customer_type,Gender,Productline,Unitprice,Quantity,Tax5pct,Total,Date,Time,Payment,cogs,GrossMarginPercentage,GrossIncome,Rating
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,3/9/2019,17:26,Credit card,899.64,4.76,44.98,4.2
895,699-88-1972,B,Mandalay,Normal,Male,Health and beauty,99.16,8,39.6640,832.9440,1/28/2019,17:47,Credit card,793.28,4.76,39.66,4.2
818,869-11-3082,B,Mandalay,Member,Male,Health and beauty,96.16,4,19.2320,403.8720,1/27/2019,20:03,Credit card,384.64,4.76,19.23,8.4
433,616-87-0016,B,Mandalay,Normal,Male,Fashion accessories,95.54,7,33.4390,702.2190,3/9/2019,14:36,Credit card,668.78,4.76,33.44,9.6
30,871-79-8483,B,Mandalay,Normal,Male,Fashion accessories,94.13,5,23.5325,494.1825,2/25/2019,19:39,Credit card,470.65,4.76,23.53,4.8
244,376-02-8238,B,Mandalay,Normal,Male,Home and lifestyle,93.87,8,37.5480,788.5080,2/2/2019,18:42,Credit card,750.96,4.76,37.55,8.3
798,359-94-5395,B,Mandalay,Normal,Male,Health and beauty,92.78,1,4.6390,97.4190,3/15/2019,10:50,Credit card,92.78,4.76,4.64,9.8
866,361-59-0574,B,Mandalay,Member,Male,Sports and travel,90.53,8,36.2120,760.4520,3/15/2019,14:48,Credit card,724.24,4.76,36.21,6.5
504,511-54-3087,B,Mandalay,Normal,Male,Sports and travel,88.45,1,4.4225,92.8725,2/25/2019,16:36,Credit card,88.45,4.76,4.42,9.5
926,321-49-7382,B,Mandalay,Member,Male,Sports and travel,88.31,1,4.4155,92.7255,2/15/2019,17:38,Credit card,88.31,4.76,4.42,5.2
133,590-83-4591,B,Mandalay,Member,Male,Electronic accessories,87.45,6,26.2350,550.9350,2/17/2019,14:40,Credit card,524.70,4.76,26.24,8.8
171,316-55-4634,B,Mandalay,Member,Male,Food and beverages,80.05,5,20.0125,420.2625,1/26/2019,12:45,Credit card,400.25,4.76,20.01,9.4
634,182-88-2763,B,Mandalay,Member,Male,Food and beverages,79.91,3,11.9865,251.7165,3/20/2019,19:28,Credit card,239.73,4.76,11.99,5.0
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,602.96,4.76,30.15,8.4
500,277-63-2961,B,Mandalay,Member,Male,Sports and travel,73.97,1,3.6985,77.6685,2/3/2019,15:53,Credit card,73.97,4.76,3.70,5.4
249,785-13-7708,B,Mandalay,Normal,Male,Food and beverages,73.06,7,25.5710,536.9910,1/14/2019,19:06,Credit card,511.42,4.76,25.57,4.2
573,355-34-6244,B,Mandalay,Normal,Male,Food and beverages,72.39,2,7.2390,152.0190,1/13/2019,19:55,Credit card,144.78,4.76,7.24,8.1
761,525-09-8450,B,Mandalay,Normal,Male,Electronic accessories,72.13,10,36.0650,757.3650,1/31/2019,15:12,Credit card,721.30,4.76,36.07,4.2
148,262-47-2794,B,Mandalay,Member,Male,Home and lifestyle,71.86,8,28.7440,603.6240,3/6/2019,15:07,Credit card,574.88,4.76,28.74,6.2
727,174-64-0215,B,Mandalay,Normal,Male,Sports and travel,69.74,10,34.8700,732.2700,3/5/2019,17:49,Credit card,697.40,4.76,34.87,8.9
430,286-75-7818,B,Mandalay,Normal,Male,Fashion accessories,69.08,2,6.9080,145.0680,1/31/2019,19:48,Credit card,138.16,4.76,6.91,6.9
635,188-55-0967,B,Mandalay,Member,Male,Health and beauty,66.47,10,33.2350,697.9350,1/15/2019,15:01,Credit card,664.70,4.76,33.24,5.0
746,457-13-1708,B,Mandalay,Member,Male,Fashion accessories,65.23,10,32.6150,684.9150,1/8/2019,19:07,Credit card,652.30,4.76,32.62,5.2
93,152-08-9985,B,Mandalay,Member,Male,Health and beauty,64.36,9,28.9620,608.2020,3/12/2019,12:09,Credit card,579.24,4.76,28.96,8.6
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,1/3/2019,19:08,Credit card,496.00,4.76,24.80,6.2
654,133-77-3154,B,Mandalay,Member,Male,Fashion accessories,60.18,4,12.0360,252.7560,2/16/2019,18:04,Credit card,240.72,4.76,12.04,9.4
46,370-41-7321,B,Mandalay,Member,Male,Health and beauty,56.69,9,25.5105,535.7205,2/27/2019,17:24,Credit card,510.21,4.76,25.51,8.4
173,608-27-6295,B,Mandalay,Member,Male,Electronic accessories,52.89,6,15.8670,333.2070,1/19/2019,17:34,Credit card,317.34,4.76,15.87,9.8
328,730-61-8757,B,Mandalay,Member,Male,Health and beauty,51.13,4,10.2260,214.7460,1/25/2019,10:11,Credit card,204.52,4.76,10.23,4.0
894,811-35-1094,B,Mandalay,Member,Male,Electronic accessories,50.45,6,15.1350,317.8350,2/6/2019,15:16,Credit card,302.70,4.76,15.14,8.9
975,883-69-1285,B,Mandalay,Member,Male,Fashion accessories,49.92,2,4.9920,104.8320,3/6/2019,11:55,Credit card,99.84,4.76,4.99,7.0
340,378-07-7001,B,Mandalay,Member,Male,Electronic accessories,48.09,3,7.2135,151.4835,2/10/2019,18:23,Credit card,144.27,4.76,7.21,7.8
819,190-59-3964,B,Mandalay,Member,Male,Food and beverages,47.16,5,11.7900,247.5900,2/3/2019,14:35,Credit card,235.80,4.76,11.79,6.0
213,656-16-1063,B,Mandalay,Normal,Male,Sports and travel,46.42,3,6.9630,146.2230,1/4/2019,13:24,Credit card,139.26,4.76,6.96,4.4
837,670-71-7306,B,Mandalay,Normal,Male,Sports and travel,44.63,6,13.3890,281.1690,1/2/2019,20:08,Credit card,267.78,4.76,13.39,5.1
722,776-68-1096,B,Mandalay,Normal,Male,Home and lifestyle,44.12,3,6.6180,138.9780,3/18/2019,13:45,Credit card,132.36,4.76,6.62,7.9
290,139-20-0155,B,Mandalay,Member,Male,Electronic accessories,40.30,10,20.1500,423.1500,1/24/2019,17:37,Credit card,403.00,4.76,20.15,7.0
164,548-46-9322,B,Mandalay,Normal,Male,Food and beverages,39.90,10,19.9500,418.9500,2/20/2019,15:24,Credit card,399.00,4.76,19.95,5.9
526,286-62-6248,B,Mandalay,Normal,Male,Fashion accessories,39.21,4,7.8420,164.6820,1/16/2019,20:03,Credit card,156.84,4.76,7.84,9.0
301,573-10-3877,B,Mandalay,Member,Male,Health and beauty,39.01,1,1.9505,40.9605,3/12/2019,16:46,Credit card,39.01,4.76,1.95,4.7
555,356-44-8813,B,Mandalay,Normal,Male,Home and lifestyle,37.48,3,5.6220,118.0620,1/20/2019,13:45,Credit card,112.44,4.76,5.62,7.7
964,794-42-3736,B,Mandalay,Normal,Male,Food and beverages,33.33,2,3.3330,69.9930,1/26/2019,14:41,Credit card,66.66,4.76,3.33,6.4
22,273-16-6619,B,Mandalay,Normal,Male,Home and lifestyle,33.20,2,3.3200,69.7200,3/15/2019,12:20,Credit card,66.40,4.76,3.32,4.4
701,176-64-7711,B,Mandalay,Normal,Male,Food and beverages,32.32,3,4.8480,101.8080,3/27/2019,19:11,Credit card,96.96,4.76,4.85,4.3
882,311-13-6971,B,Mandalay,Member,Male,Sports and travel,31.99,10,15.9950,335.8950,2/20/2019,15:18,Credit card,319.90,4.76,16.00,9.9
423,301-81-8610,B,Mandalay,Member,Male,Fashion accessories,25.42,8,10.1680,213.5280,3/19/2019,19:42,Credit card,203.36,4.76,10.17,6.7
48,669-54-1719,B,Mandalay,Member,Male,Electronic accessories,18.93,6,5.6790,119.2590,2/10/2019,12:45,Credit card,113.58,4.76,5.68,8.1
389,596-42-3999,B,Mandalay,Normal,Male,Food and beverages,18.22,7,6.3770,133.9170,3/10/2019,14:04,Credit card,127.54,4.76,6.38,6.6
204,394-43-4238,B,Mandalay,Member,Male,Home and lifestyle,17.77,5,4.4425,93.2925,2/15/2019,12:42,Credit card,88.85,4.76,4.44,5.4
595,470-31-3286,B,Mandalay,Normal,Male,Health and beauty,14.82,3,2.2230,46.6830,3/1/2019,11:30,Credit card,44.46,4.76,2.22,8.7

**Task 14:**

Store the user input for the City in the variable named as "Input_City3". Text to be shown to the user "Enter the City Name : "

Store the user input for the Payment in the variable named as "Input_Payment2". Text to be shown to the user "Enter the Payment : " Filter the sales dataframe for City to be taken from user input and Payment to be taken from user input. Store the resultant data in "Sales4" dataframe.

Create a pivot table using the Sales4 dataframe named pivot_2 to show the Productline-wise total GrossIncome and total Quantity for each of the Order. Use index as "Productline", columns as "Customer_type" and values as "GrossIncome" and "Quantity". Print this pivot table. This will show the data for the City and Payment selected by the user.

At the end the user input should be-

City (Input_City3) - Enter the City name : Yangon

Payment (Input_Payment2) - Enter the Payment : Cash

In [25]:
Input_City3=input("Enter the City Name : ")
Input_Payment2=input("Enter the Payment : ")
Sales4=salesdata.query('City==@Input_City3 and Payment==@Input_Payment2')
pivot_2=pd.pivot_table(Sales4,index=["Productline"], columns=["Customer_type"],values=["GrossIncome","Quantity"],aggfunc={"GrossIncome":["sum"],"Quantity":["sum"]})
pivot_2

Enter the City Name : Yangon
Enter the Payment : Cash

                       GrossIncome         Quantity
                               sum              sum
Customer_type               Member  Normal   Member Normal
Productline
Electronic accessories       97.52  100.89       45     40
Fashion accessories          52.95  151.22       16     44
Food and beverages          173.89   74.08       47     31
Health and beauty           106.44   87.71       60     38
Home and lifestyle          295.66  170.63       90     49
Sports and travel           115.61  182.09       50     62