# RegionWise-SalesDetails_3.1

***`Task 1: Import the pandas library`***

In [6]:
import pandas as pd

***`Task 2: Create a dataframe named “rwsd” from a given URL.`***

https://raw.githubusercontent.com/Invact-Abhay/DOE/main/fe2final.csv

In [7]:
rwsd=pd.read_csv("https://raw.githubusercontent.com/Invact-Abhay/DOE/main/fe2final.csv")
rwsd

         Salesperson Region     Product  QuantitySold  UnitPrice  Sales
0       Aarav Kapoor  North      Phones           300         30   9000
1         Diya Patel  South     Laptops           150        100  15000
2       Ishan Sharma   East  Headphones           200         60  12000
3         Riya Gupta   West      Phones           250         30   7500
4        Kabir Singh  North     Laptops           180        100  18000
5          Zara Khan  South  Headphones           220         60  13200
6       Ananya Reddy   East      Phones           270         30   8100
7     Arjun Malhotra   West     Laptops           190        100  19000
8    Niharika Sharma  North  Headphones           310         60  18600
9     Vikram Chauhan  South      Phones           200         30   6000
10       Meera Joshi   East     Laptops           150        100  15000
11      Yuvraj Singh   West  Headphones           180         60  10800
12      Aanya Khanna  North      Phones           280         30   8400
13       Advik Patel  South     Laptops           170        100  17000
14      Saanvi Gupta   East  Headphones           190         60  11400
15     Vihaan Sharma   West      Phones           260         30   7800
16        Kyra Reddy  North     Laptops           195        100  19500
17    Aaradhya Singh  South  Headphones           230         60  13800
18  Reyansh Malhotra   East      Phones           285         30   8550
19      Anvi Chauhan   West     Laptops           200        100  20000
20      Kiaan Sharma  North  Headphones           320         60  19200
21      Aarush Joshi  South      Phones           210         30   6300
22        Kyra Patel   East     Laptops           160        100  16000
23       Ayaan Singh   West  Headphones           190         60  11400
24      Aarav Khanna  North      Phones           300         30   9000
25        Diya Gupta  South     Laptops           150        100  15000
26       Ishan Reddy   East  Headphones           200         60  12000
27       Riya Sharma   West      Phones           250         30   7500

***`Task 3: Find the data  of the salespersons whose region is “North”.`***

In [8]:
rwsd.query('Region=="North"')

        Salesperson Region     Product  QuantitySold  UnitPrice  Sales
0      Aarav Kapoor  North      Phones           300         30   9000
4       Kabir Singh  North     Laptops           180        100  18000
8   Niharika Sharma  North  Headphones           310         60  18600
12     Aanya Khanna  North      Phones           280         30   8400
16       Kyra Reddy  North     Laptops           195        100  19500
20     Kiaan Sharma  North  Headphones           320         60  19200
24     Aarav Khanna  North      Phones           300         30   9000

***`Task 4: Find the data of the salespersons who deal with Laptops.`***

In [9]:
rwsd.query('Product=="Laptops"')

       Salesperson Region  Product  QuantitySold  UnitPrice  Sales
1       Diya Patel  South  Laptops           150        100  15000
4      Kabir Singh  North  Laptops           180        100  18000
7   Arjun Malhotra   West  Laptops           190        100  19000
10     Meera Joshi   East  Laptops           150        100  15000
13     Advik Patel  South  Laptops           170        100  17000
16      Kyra Reddy  North  Laptops           195        100  19500
19    Anvi Chauhan   West  Laptops           200        100  20000
22      Kyra Patel   East  Laptops           160        100  16000
25      Diya Gupta  South  Laptops           150        100  15000

***`Task 5:`***

1.Count the number of salespersons who deal with headphones.

2.Find the maximum “QuantitySold” from the salesperson of Region “South”.

3.Find the average of “UnitPrice” from the region “North”.

In [11]:
rwsd.query('Product=="Headphones"')["Salesperson"].count()

9

In [12]:
rwsd.query('Region=="South"')["QuantitySold"].max()

230

In [13]:
rwsd.query('Region=="North"')["UnitPrice"].mean()

58.57142857142857

***`Task 6: Find the maximum sales among salesperson whose QuantitySold is more than 150.`***

In [14]:
rwsd.query('QuantitySold>150')["Sales"].max()

20000

***`Task 7: Find the minimum sales among salesperson whose region is West.`***

In [15]:
rwsd.query('Region=="West"')["Sales"].min()

7500

***`Task 8: Find the sum of  “Sales” among all the salesperson where UnitPrice is 30.`***

In [16]:
rwsd.query('UnitPrice==30')["Sales"].sum()

78150

***`Task 9: Find the average of  “UnitPrice” among all the products.`***

In [19]:
rwsd["UnitPrice"].mean()

62.142857142857146

***`Task 10: Find the number of salespersons in the south region.`***

In [23]:
rwsd.query('Region=="South"')["Salesperson"].count()

7

***`Task 11: Find the average of  “Sales” by the salesperson whose region is East.`***

In [22]:
rwsd.query('Region=="East"')["Sales"].mean()

11864.285714285714

***`Task 12: Find the number of products where QuantitySold is 150.`***

In [26]:
rwsd.query('QuantitySold==150')["Product"].count()

3

***`Task 13: Find the sum of QuantitySold whose Sales is more than or equal to 15000`***

In [27]:
rwsd.query('Sales>=15000')["QuantitySold"].sum()

2175

***`Task 14: Find the average of QuantitySold where UnitPrice is more than or equal to 60.`***

In [28]:
rwsd.query('UnitPrice>=60')["QuantitySold"].mean()

199.16666666666666

# RegionWise-SalesDetails_3.2

***`Task 1: Print the first five rows of “rwsd” dataframe.`***

In [29]:
rwsd.head()

    Salesperson Region     Product  QuantitySold  UnitPrice  Sales
0  Aarav Kapoor  North      Phones           300         30   9000
1    Diya Patel  South     Laptops           150        100  15000
2  Ishan Sharma   East  Headphones           200         60  12000
3    Riya Gupta   West      Phones           250         30   7500
4   Kabir Singh  North     Laptops           180        100  18000

***`Task 2: Retrieve all the columns of the SalesPerson who has the maximum QuantitySold. `***

In [31]:
rwsd.query('QuantitySold==QuantitySold.max()')

     Salesperson Region     Product  QuantitySold  UnitPrice  Sales
20  Kiaan Sharma  North  Headphones           320         60  19200

***`Task 3:  Retrieve all the columns of the SalesPersons who have the minimum QuantitySold. `***

In [32]:
rwsd.query('QuantitySold==QuantitySold.min()')

    Salesperson Region  Product  QuantitySold  UnitPrice  Sales
1    Diya Patel  South  Laptops           150        100  15000
10  Meera Joshi   East  Laptops           150        100  15000
25   Diya Gupta  South  Laptops           150        100  15000

***`Task 4:  Retrieve the name of the Regions which has the maximum UnitPrice out of all the sales.`***

In [33]:
rwsd.query('UnitPrice==UnitPrice.max()')["Region"]

1     South
4     North
7      West
10     East
13    South
16    North
19     West
22     East
25    South
Name: Region, dtype: object

***`Task 5:  Retrieve the name of the Regions which has the minimum QuantitySold out of all the sales.`***

In [34]:
rwsd.query('QuantitySold==QuantitySold.min()')["Region"]

1     South
10     East
25    South
Name: Region, dtype: object

***`Task 6: Retrieve the name of the Salespersons whose Sales is more than the average sales of all the products.`***

In [37]:
rwsd.query('Sales>Sales.mean()')["Salesperson"]

1          Diya Patel
4         Kabir Singh
5           Zara Khan
7      Arjun Malhotra
8     Niharika Sharma
10        Meera Joshi
13        Advik Patel
16         Kyra Reddy
17     Aaradhya Singh
19       Anvi Chauhan
20       Kiaan Sharma
22         Kyra Patel
25         Diya Gupta
Name: Salesperson, dtype: object

***`Task 7: Retrieve the name of the Salespersons whose Sales is less than the average Sales of all the products.`***

In [38]:
rwsd.query('Sales<Sales.mean()')["Salesperson"]

0         Aarav Kapoor
2         Ishan Sharma
3           Riya Gupta
6         Ananya Reddy
9       Vikram Chauhan
11        Yuvraj Singh
12        Aanya Khanna
14        Saanvi Gupta
15       Vihaan Sharma
18    Reyansh Malhotra
21        Aarush Joshi
23         Ayaan Singh
24        Aarav Khanna
26         Ishan Reddy
27         Riya Sharma
Name: Salesperson, dtype: object