# PositionWise-FootballPlayers_3.1

***`Task 1: Import the pandas library `***

In [2]:
import pandas as pd

***`Task 2: Create a dataframe named “fplr” from a given URL.`***

https://raw.githubusercontent.com/Invact-Abhay/DOE/main/DOE2HW3.csv

In [3]:
fplr=pd.read_csv("https://raw.githubusercontent.com/Invact-Abhay/DOE/main/DOE2HW3.csv")
fplr

,PlayerName,Team,Position,GoalsScored,Assists,TotalShots,PassAccuracyPercent,Tackles
0,Aditya Sharma,Maharashtra,Forward,25,12,120,85,30
1,Kabir Singh,Gujarat,Midfielder,15,20,90,88,45
2,Aarav Kapoor,Tamil Nadu,Defender,5,8,40,92,70
3,Diya Patel,Uttar Pradesh,Goalkeeper,2,3,5,100,10
4,Riya Gupta,Karnataka,Forward,18,10,100,82,20
5,Oliver Thompson,West Bengal,Midfielder,12,15,80,86,40
6,Ishan Sharma,Telangana,Midfielder,10,18,75,90,35
7,Zara Khan,Punjab,Forward,20,8,95,78,25
8,Ananya Reddy,Odisha,Defender,4,3,35,91,60
9,Xavier White,Haryana,Midfielder,8,10,65,85,55
10,Santiago Rodriguez,Delhi,Forward,22,15,110,80,28
11,Mikhail Ivanov,Kerala,Defender,3,2,25,88,65
12,Ahmed Khan,Rajasthan,Goalkeeper,1,2,4,90,15
13,Liam O'Brien,Bihar,Midfielder,6,8,50,83,48
14,Bruno Santos,Assam,Forward,19,9,95,79,22
15,Aditya Roy,Maharashtra,Forward,25,12,120,85,30
16,Zahir Khan,Punjab,Forward,16,10,80,82,40
17,Kabir khan,Bihar,Midfielder,15,20,90,88,45

***`Task 3: Find the data  of the “Team” Telangana.`***

In [4]:
fplr.query('Team=="Telangana"')

,PlayerName,Team,Position,GoalsScored,Assists,TotalShots,PassAccuracyPercent,Tackles
6,Ishan Sharma,Telangana,Midfielder,10,18,75,90,35

***`Task 4: Find the data  of the “Team” Haryana.`***

In [5]:
fplr.query('Team=="Haryana"')

,PlayerName,Team,Position,GoalsScored,Assists,TotalShots,PassAccuracyPercent,Tackles
9,Xavier White,Haryana,Midfielder,8,10,65,85,55

**Task 5:**

1.List down the “PlayerName” whose position is Forward.

2.List down sum of “GoalsScored” from the players whose position is Goalkeeper.

3.the average of “Assists” from the players whose position is Forward.

In [6]:
fplr.query('Position=="Forward"')["PlayerName"]

0          Aditya Sharma
4             Riya Gupta
7              Zara Khan
10    Santiago Rodriguez
14          Bruno Santos
15            Aditya Roy
16            Zahir Khan
Name: PlayerName, dtype: object

In [7]:
fplr.query('Position=="Goalkeeper"')["GoalsScored"].sum()

3

In [8]:
fplr.query('Position=="Forward"')["Assists"].mean()

10.857142857142858

***`Task 6: Find the maximum “GoalsScored” by any players.`***

In [9]:
fplr["GoalsScored"].max()

25

***`Task 7: Find the minimum “GoalsScored” by any players whose position is Defender.`***

In [10]:
fplr.query('Position=="Defender"')["GoalsScored"].min()

3

***`Task 8: Find the sum of  “GoalsScored” by all the players.`***

In [11]:
fplr["GoalsScored"].sum()

226

***`Task 9: Find the average of  “TotalShots” by the players whose GoalsScored is more than or equal to 20.`***

In [12]:
fplr.query('GoalsScored>=20')["TotalShots"].mean()

111.25

***`Task 10: Find the minimum number of  “Tackles” by the players who have TotalShots more than 70.`***

In [13]:
fplr.query('TotalShots>70')["Tackles"].min()

20

***`Task 11: Find the average of  “PassAccuracyPercent” by the players whose “position” is Midfielder.`***

In [14]:
fplr.query('Position=="Midfielder"')["PassAccuracyPercent"].mean()

86.66666666666667

***`Task 12: Find the highest “PassAccuracyPercent” by the players whose position is Forward.`***

In [15]:
fplr.query('Position=="Forward"')["PassAccuracyPercent"].max()

85

***`Task 13: Find the number of players whose “GoalsScored” is more than or equal to 20.`***

In [16]:
fplr.query('GoalsScored>=20')["GoalsScored"].count()

4

***`Task 14: Find the average of “GoalsScored” among the players who have a number of “GoalsScored” greater than equal to 15.`***

In [17]:
fplr.query('GoalsScored>=15')["GoalsScored"].mean()

19.444444444444443

# PositionWise-FootballPlayers_3.2

***`Task 1: Print the first five rows of “fplr” dataframe.`***

In [18]:
fplr.head()

,PlayerName,Team,Position,GoalsScored,Assists,TotalShots,PassAccuracyPercent,Tackles
0,Aditya Sharma,Maharashtra,Forward,25,12,120,85,30
1,Kabir Singh,Gujarat,Midfielder,15,20,90,88,45
2,Aarav Kapoor,Tamil Nadu,Defender,5,8,40,92,70
3,Diya Patel,Uttar Pradesh,Goalkeeper,2,3,5,100,10
4,Riya Gupta,Karnataka,Forward,18,10,100,82,20

***`Task 2: Retrieve all the columns of the player who has the minimum number of GoalsScored. `***

In [19]:
fplr.query('GoalsScored==GoalsScored.min()')

,PlayerName,Team,Position,GoalsScored,Assists,TotalShots,PassAccuracyPercent,Tackles
12,Ahmed Khan,Rajasthan,Goalkeeper,1,2,4,90,15

***`Task 3:  Retrieve all the columns of the players who have the maximum number of Assists. `***

In [20]:
fplr.query('Assists==Assists.max()')

,PlayerName,Team,Position,GoalsScored,Assists,TotalShots,PassAccuracyPercent,Tackles
1,Kabir Singh,Gujarat,Midfielder,15,20,90,88,45
17,Kabir khan,Bihar,Midfielder,15,20,90,88,45

***`Task 4:  Retrieve the name of the Players who have the maximum number of TotalShots. `***

In [24]:
fplr.query('TotalShots==TotalShots.max()')["PlayerName"]

0     Aditya Sharma
15       Aditya Roy
Name: PlayerName, dtype: object

***`Task 5:  Retrieve the name of the Team to which the player with the maximum of PassAccuracyPercent belongs.`***

In [25]:
fplr.query('PassAccuracyPercent==PassAccuracyPercent.max()')["Team"]

3    Uttar Pradesh
Name: Team, dtype: object

***`Task 6: Retrieve the name of the Player who has the Lowest Tackles.`***

In [26]:
fplr.query('Tackles==Tackles.min()')["PlayerName"]

3    Diya Patel
Name: PlayerName, dtype: object

***`Task 7: Retrieve the name of Teams whose GoalsScored is more than the average number of GoalsScored by the players.`***

In [27]:
fplr.query('GoalsScored>GoalsScored.mean()')["Team"]

0     Maharashtra
1         Gujarat
4       Karnataka
7          Punjab
10          Delhi
14          Assam
15    Maharashtra
16         Punjab
17          Bihar
Name: Team, dtype: object

***`Task 8: Retrieve the name of the players whose Tackles  is less than the average Tackles by all the players.`***

In [28]:
fplr.query('Tackles<Tackles.mean()')["PlayerName"]

0          Aditya Sharma
3             Diya Patel
4             Riya Gupta
6           Ishan Sharma
7              Zara Khan
10    Santiago Rodriguez
12            Ahmed Khan
14          Bruno Santos
15            Aditya Roy
Name: PlayerName, dtype: object

***`Task 9: Retrieve the name of the Player who has the minimum PassAccuracyPercent of all the players.`***

In [29]:
fplr.query('PassAccuracyPercent==PassAccuracyPercent.min()')["PlayerName"]

7    Zara Khan
Name: PlayerName, dtype: object

***`Task 10: Retrieve the name of the Player who has the maximum PassAccuracyPercent of all the players.`***

In [30]:
fplr.query('PassAccuracyPercent==PassAccuracyPercent.max()')["PlayerName"]

3    Diya Patel
Name: PlayerName, dtype: object