# SalesDetails_Analysis_4.1

***`Task 1: Import the pandas library `***

In [1]:
import pandas as pd

**`Task 2: Create a dataframe named “rwsd” from a given URL.`**

https://raw.githubusercontent.com/Invact-Abhay/DOE/main/fe2final.csv

In [2]:
rwsd=pd.read_csv("https://raw.githubusercontent.com/Invact-Abhay/DOE/main/fe2final.csv")
rwsd

         Salesperson Region     Product  QuantitySold  UnitPrice  Sales
0       Aarav Kapoor  North      Phones           300         30   9000
1         Diya Patel  South     Laptops           150        100  15000
2       Ishan Sharma   East  Headphones           200         60  12000
3         Riya Gupta   West      Phones           250         30   7500
4        Kabir Singh  North     Laptops           180        100  18000
5          Zara Khan  South  Headphones           220         60  13200
6       Ananya Reddy   East      Phones           270         30   8100
7     Arjun Malhotra   West     Laptops           190        100  19000
8    Niharika Sharma  North  Headphones           310         60  18600
9     Vikram Chauhan  South      Phones           200         30   6000
10       Meera Joshi   East     Laptops           150        100  15000
11      Yuvraj Singh   West  Headphones           180         60  10800
12      Aanya Khanna  North      Phones           280         30   8400
13       Advik Patel  South     Laptops           170        100  17000
14      Saanvi Gupta   East  Headphones           190         60  11400
15     Vihaan Sharma   West      Phones           260         30   7800
16        Kyra Reddy  North     Laptops           195        100  19500
17    Aaradhya Singh  South  Headphones           230         60  13800
18  Reyansh Malhotra   East      Phones           285         30   8550
19      Anvi Chauhan   West     Laptops           200        100  20000
20      Kiaan Sharma  North  Headphones           320         60  19200
21      Aarush Joshi  South      Phones           210         30   6300
22        Kyra Patel   East     Laptops           160        100  16000
23       Ayaan Singh   West  Headphones           190         60  11400
24      Aarav Khanna  North      Phones           300         30   9000
25        Diya Gupta  South     Laptops           150        100  15000
26       Ishan Reddy   East  Headphones           200         60  12000
27       Riya Sharma   West      Phones           250         30   7500

***`Task 3: Sort the data according to the Region in the alphabetical order.`***

In [3]:
rwsd.sort_values('Region',ascending=True)

         Salesperson Region     Product  QuantitySold  UnitPrice  Sales
14      Saanvi Gupta   East  Headphones           190         60  11400
2       Ishan Sharma   East  Headphones           200         60  12000
26       Ishan Reddy   East  Headphones           200         60  12000
22        Kyra Patel   East     Laptops           160        100  16000
6       Ananya Reddy   East      Phones           270         30   8100
18  Reyansh Malhotra   East      Phones           285         30   8550
10       Meera Joshi   East     Laptops           150        100  15000
0       Aarav Kapoor  North      Phones           300         30   9000
12      Aanya Khanna  North      Phones           280         30   8400
8    Niharika Sharma  North  Headphones           310         60  18600
4        Kabir Singh  North     Laptops           180        100  18000
24      Aarav Khanna  North      Phones           300         30   9000
20      Kiaan Sharma  North  Headphones           320         60  19200
16        Kyra Reddy  North     Laptops           195        100  19500
17    Aaradhya Singh  South  Headphones           230         60  13800
21      Aarush Joshi  South      Phones           210         30   6300
25        Diya Gupta  South     Laptops           150        100  15000
13       Advik Patel  South     Laptops           170        100  17000
9     Vikram Chauhan  South      Phones           200         30   6000
5          Zara Khan  South  Headphones           220         60  13200
1         Diya Patel  South     Laptops           150        100  15000
11      Yuvraj Singh   West  Headphones           180         60  10800
19      Anvi Chauhan   West     Laptops           200        100  20000
7     Arjun Malhotra   West     Laptops           190        100  19000
23       Ayaan Singh   West  Headphones           190         60  11400
3         Riya Gupta   West      Phones           250         30   7500
15     Vihaan Sharma   West      Phones           260         30   7800
27       Riya Sharma   West      Phones           250         30   7500

***`Task 4: Sort the data according to the QuantitySold in the descending order.`***

In [4]:
rwsd.sort_values('QuantitySold',ascending=False)

         Salesperson Region     Product  QuantitySold  UnitPrice  Sales
20      Kiaan Sharma  North  Headphones           320         60  19200
8    Niharika Sharma  North  Headphones           310         60  18600
0       Aarav Kapoor  North      Phones           300         30   9000
24      Aarav Khanna  North      Phones           300         30   9000
18  Reyansh Malhotra   East      Phones           285         30   8550
12      Aanya Khanna  North      Phones           280         30   8400
6       Ananya Reddy   East      Phones           270         30   8100
15     Vihaan Sharma   West      Phones           260         30   7800
27       Riya Sharma   West      Phones           250         30   7500
3         Riya Gupta   West      Phones           250         30   7500
17    Aaradhya Singh  South  Headphones           230         60  13800
5          Zara Khan  South  Headphones           220         60  13200
21      Aarush Joshi  South      Phones           210         30   6300
9     Vikram Chauhan  South      Phones           200         30   6000
19      Anvi Chauhan   West     Laptops           200        100  20000
26       Ishan Reddy   East  Headphones           200         60  12000
2       Ishan Sharma   East  Headphones           200         60  12000
16        Kyra Reddy  North     Laptops           195        100  19500
23       Ayaan Singh   West  Headphones           190         60  11400
14      Saanvi Gupta   East  Headphones           190         60  11400
7     Arjun Malhotra   West     Laptops           190        100  19000
11      Yuvraj Singh   West  Headphones           180         60  10800
4        Kabir Singh  North     Laptops           180        100  18000
13       Advik Patel  South     Laptops           170        100  17000
22        Kyra Patel   East     Laptops           160        100  16000
10       Meera Joshi   East     Laptops           150        100  15000
1         Diya Patel  South     Laptops           150        100  15000
25        Diya Gupta  South     Laptops           150        100  15000

***`Task 5: Sort the data according to the UnitPrice in the ascending order.`***

In [5]:
rwsd.sort_values('UnitPrice',ascending=True)

         Salesperson Region     Product  QuantitySold  UnitPrice  Sales
0       Aarav Kapoor  North      Phones           300         30   9000
24      Aarav Khanna  North      Phones           300         30   9000
21      Aarush Joshi  South      Phones           210         30   6300
18  Reyansh Malhotra   East      Phones           285         30   8550
15     Vihaan Sharma   West      Phones           260         30   7800
12      Aanya Khanna  North      Phones           280         30   8400
9     Vikram Chauhan  South      Phones           200         30   6000
27       Riya Sharma   West      Phones           250         30   7500
6       Ananya Reddy   East      Phones           270         30   8100
3         Riya Gupta   West      Phones           250         30   7500
8    Niharika Sharma  North  Headphones           310         60  18600
23       Ayaan Singh   West  Headphones           190         60  11400
2       Ishan Sharma   East  Headphones           200         60  12000
20      Kiaan Sharma  North  Headphones           320         60  19200
17    Aaradhya Singh  South  Headphones           230         60  13800
26       Ishan Reddy   East  Headphones           200         60  12000
5          Zara Khan  South  Headphones           220         60  13200
11      Yuvraj Singh   West  Headphones           180         60  10800
14      Saanvi Gupta   East  Headphones           190         60  11400
4        Kabir Singh  North     Laptops           180        100  18000
16        Kyra Reddy  North     Laptops           195        100  19500
7     Arjun Malhotra   West     Laptops           190        100  19000
19      Anvi Chauhan   West     Laptops           200        100  20000
22        Kyra Patel   East     Laptops           160        100  16000
10       Meera Joshi   East     Laptops           150        100  15000
1         Diya Patel  South     Laptops           150        100  15000
25        Diya Gupta  South     Laptops           150        100  15000
13       Advik Patel  South     Laptops           170        100  17000

***`Task 6: Sort the data according to the Sales in the ascending order.`***

In [6]:
rwsd.sort_values('Sales',ascending=True)

         Salesperson Region     Product  QuantitySold  UnitPrice  Sales
9     Vikram Chauhan  South      Phones           200         30   6000
21      Aarush Joshi  South      Phones           210         30   6300
27       Riya Sharma   West      Phones           250         30   7500
3         Riya Gupta   West      Phones           250         30   7500
15     Vihaan Sharma   West      Phones           260         30   7800
6       Ananya Reddy   East      Phones           270         30   8100
12      Aanya Khanna  North      Phones           280         30   8400
18  Reyansh Malhotra   East      Phones           285         30   8550
24      Aarav Khanna  North      Phones           300         30   9000
0       Aarav Kapoor  North      Phones           300         30   9000
11      Yuvraj Singh   West  Headphones           180         60  10800
14      Saanvi Gupta   East  Headphones           190         60  11400
23       Ayaan Singh   West  Headphones           190         60  11400
26       Ishan Reddy   East  Headphones           200         60  12000
2       Ishan Sharma   East  Headphones           200         60  12000
5          Zara Khan  South  Headphones           220         60  13200
17    Aaradhya Singh  South  Headphones           230         60  13800
10       Meera Joshi   East     Laptops           150        100  15000
25        Diya Gupta  South     Laptops           150        100  15000
1         Diya Patel  South     Laptops           150        100  15000
22        Kyra Patel   East     Laptops           160        100  16000
13       Advik Patel  South     Laptops           170        100  17000
4        Kabir Singh  North     Laptops           180        100  18000
8    Niharika Sharma  North  Headphones           310         60  18600
7     Arjun Malhotra   West     Laptops           190        100  19000
20      Kiaan Sharma  North  Headphones           320         60  19200
16        Kyra Reddy  North     Laptops           195        100  19500
19      Anvi Chauhan   West     Laptops           200        100  20000

***`Task 7: Sort the data according to the Salesperson in the descending alphabetical order and only show the SalesPerson name.`***

In [8]:
rwsd.sort_values('Salesperson',ascending=False)["Salesperson"]

5            Zara Khan
11        Yuvraj Singh
9       Vikram Chauhan
15       Vihaan Sharma
14        Saanvi Gupta
27         Riya Sharma
3           Riya Gupta
18    Reyansh Malhotra
8      Niharika Sharma
10         Meera Joshi
16          Kyra Reddy
22          Kyra Patel
20        Kiaan Sharma
4          Kabir Singh
2         Ishan Sharma
26         Ishan Reddy
1           Diya Patel
25          Diya Gupta
23         Ayaan Singh
7       Arjun Malhotra
19        Anvi Chauhan
6         Ananya Reddy
13         Advik Patel
21        Aarush Joshi
24        Aarav Khanna
0         Aarav Kapoor
17      Aaradhya Singh
12        Aanya Khanna
Name: Salesperson, dtype: object

***`Task 8: Sort the data based on the QuantitySold in ascending order and give only the salesperson names of the sorted data.`***

In [10]:
rwsd.sort_values('QuantitySold',ascending=True)["Salesperson"]

1           Diya Patel
10         Meera Joshi
25          Diya Gupta
22          Kyra Patel
13         Advik Patel
11        Yuvraj Singh
4          Kabir Singh
23         Ayaan Singh
7       Arjun Malhotra
14        Saanvi Gupta
16          Kyra Reddy
9       Vikram Chauhan
2         Ishan Sharma
26         Ishan Reddy
19        Anvi Chauhan
21        Aarush Joshi
5            Zara Khan
17      Aaradhya Singh
27         Riya Sharma
3           Riya Gupta
15       Vihaan Sharma
6         Ananya Reddy
12        Aanya Khanna
18    Reyansh Malhotra
24        Aarav Khanna
0         Aarav Kapoor
8      Niharika Sharma
20        Kiaan Sharma
Name: Salesperson, dtype: object

***`Task 9: Find the data of the salesperson who deals with Laptops and sort the result on the basis of Salesperson name in alphabetical order.`***

In [12]:
rwsd.query('Product=="Laptops"').sort_values('Salesperson',ascending=True)

       Salesperson Region  Product  QuantitySold  UnitPrice  Sales
13     Advik Patel  South  Laptops           170        100  17000
19    Anvi Chauhan   West  Laptops           200        100  20000
7   Arjun Malhotra   West  Laptops           190        100  19000
25      Diya Gupta  South  Laptops           150        100  15000
1       Diya Patel  South  Laptops           150        100  15000
4      Kabir Singh  North  Laptops           180        100  18000
22      Kyra Patel   East  Laptops           160        100  16000
16      Kyra Reddy  North  Laptops           195        100  19500
10     Meera Joshi   East  Laptops           150        100  15000

***`Task 10: Find the data of the salesperson who deals with Headphones and sort the result on the basis of Region in alphabetical order.`***

In [15]:
rwsd.query('Product=="Headphones"').sort_values('Region',ascending=True)

        Salesperson Region     Product  QuantitySold  UnitPrice  Sales
2      Ishan Sharma   East  Headphones           200         60  12000
14     Saanvi Gupta   East  Headphones           190         60  11400
26      Ishan Reddy   East  Headphones           200         60  12000
8   Niharika Sharma  North  Headphones           310         60  18600
20     Kiaan Sharma  North  Headphones           320         60  19200
5         Zara Khan  South  Headphones           220         60  13200
17   Aaradhya Singh  South  Headphones           230         60  13800
11     Yuvraj Singh   West  Headphones           180         60  10800
23      Ayaan Singh   West  Headphones           190         60  11400

***`Task 11: Find the data of the product with QuantitySold more than or equal to 200 and then sort the data on the Sales value in descending order.`***

In [16]:
rwsd.query('QuantitySold>=200').sort_values('Sales',ascending=False)

         Salesperson Region     Product  QuantitySold  UnitPrice  Sales
19      Anvi Chauhan   West     Laptops           200        100  20000
20      Kiaan Sharma  North  Headphones           320         60  19200
8    Niharika Sharma  North  Headphones           310         60  18600
17    Aaradhya Singh  South  Headphones           230         60  13800
5          Zara Khan  South  Headphones           220         60  13200
26       Ishan Reddy   East  Headphones           200         60  12000
2       Ishan Sharma   East  Headphones           200         60  12000
0       Aarav Kapoor  North      Phones           300         30   9000
24      Aarav Khanna  North      Phones           300         30   9000
18  Reyansh Malhotra   East      Phones           285         30   8550
12      Aanya Khanna  North      Phones           280         30   8400
6       Ananya Reddy   East      Phones           270         30   8100
15     Vihaan Sharma   West      Phones           260         30   7800
3         Riya Gupta   West      Phones           250         30   7500
27       Riya Sharma   West      Phones           250         30   7500
21      Aarush Joshi  South      Phones           210         30   6300
9     Vikram Chauhan  South      Phones           200         30   6000

***`Task 12: Find the data of the product with QuantitySold more than or equal to 200 and then sort the Salesperson name in descending alphabetical  order. Show only Sales value of sorted data.`***

In [18]:
 rwsd.query('QuantitySold>=200').sort_values('Salesperson',ascending=False)["Sales"]

5     13200
9      6000
15     7800
27     7500
3      7500
18     8550
8     18600
20    19200
2     12000
26    12000
19    20000
6      8100
21     6300
24     9000
0      9000
17    13800
12     8400
Name: Sales, dtype: int64

***`Task 13: Find the name of the Salesperson whose Region is North and then sort the data according to the product name in alphabetical order. Get only the Salesperson name for the same.`***

In [19]:
rwsd.query('Region=="North"').sort_values('Product',ascending=True)["Salesperson"]

8     Niharika Sharma
20       Kiaan Sharma
4         Kabir Singh
16         Kyra Reddy
0        Aarav Kapoor
12       Aanya Khanna
24       Aarav Khanna
Name: Salesperson, dtype: object

***`Task 14: Find the name of the salesperson whose QuantitySold is more than the average QuantitySold and then sort the data according to the region in descending alphabetical order. Get only the name for the same.`***

In [20]:
rwsd.query('QuantitySold>QuantitySold.mean()').sort_values('Region',ascending=False)["Salesperson"]

3           Riya Gupta
15       Vihaan Sharma
27         Riya Sharma
17      Aaradhya Singh
0         Aarav Kapoor
8      Niharika Sharma
12        Aanya Khanna
20        Kiaan Sharma
24        Aarav Khanna
6         Ananya Reddy
18    Reyansh Malhotra
Name: Salesperson, dtype: object

***`Task 15: Find the data where Sales is less than the average Sales of all the salesperson and then sort the data according to the salesperson name in alphabetical order. Get only the QuantitySold for the same.`***

In [21]:
rwsd.query('Sales<Sales.mean()').sort_values('Salesperson',ascending=True)["QuantitySold"]

12    280
0     300
24    300
21    210
6     270
23    190
26    200
2     200
18    285
3     250
27    250
14    190
15    260
9     200
11    180
Name: QuantitySold, dtype: int64