# StatetWise-CricketPlayers_3.1

***`Task 1: Import the pandas library `***

In [ ]:
import pandas as pd

***`Task 2: Create a dataframe named “splr” from a given URL.`***

https://raw.githubusercontent.com/Invact-Abhay/DOE/main/hw2.csv

In [ ]:
splr=pd.read_csv("https://raw.githubusercontent.com/Invact-Abhay/DOE/main/hw2.csv")
splr

,PlayerName,Team,State,MatchesPlayed,RunsScored,BattingAverage,HighestScore
0,Aarav Kapoor,MUM,Maharashtra,260,13500,58.92,271
1,Diya Patel,AMD,Gujarat,130,7000,60.84,245
2,Ishan Sharma,CHE,Tamil Nadu,150,8200,47.25,260
3,Riya Gupta,BLR,Karnataka,100,5600,51.38,249
4,Kabir Singh,TVM,Kerala,90,4000,44.20,188
5,Zara Khan,LKO,Uttar Pradesh,220,12000,48.93,272
6,Ananya Reddy,DEL,Delhi,160,8500,47.98,345
7,Arjun Malhotra,HYD,Telangana,110,6000,38.76,189
8,Niharika Sharma,JAI,Rajasthan,100,4200,41.85,178
9,Vikram Chauhan,CHD,Punjab,80,2800,35.37,265
10,Meera Joshi,KOL,West Bengal,260,12000,58.92,267
11,Yuvraj Singh,BHO,Madhya Pradesh,260,12000,60.84,245
12,Aanya Khanna,BBS,Odisha,130,12000,58.92,267
13,Advik Patel,CHD,Haryana,150,13500,60.84,245
14,Rahul Patel,JHA,Jharkhand,179,12500,60.84,299

***`Task 3: Find the data  of the Team “BLR”.`***

In [ ]:
splr.query('Team=="BLR"')

,PlayerName,Team,State,MatchesPlayed,RunsScored,BattingAverage,HighestScore
3,Riya Gupta,BLR,Karnataka,100,5600,51.38,249

***`Task 4: Find the data  of the Team “BBS”.`***

In [ ]:
splr.query('Team=="BBS"')

,PlayerName,Team,State,MatchesPlayed,RunsScored,BattingAverage,HighestScore
12,Aanya Khanna,BBS,Odisha,130,12000,58.92,267

***`Task 5: `***

1.List down the names of  “Players” from the state Rajasthan.

2.List down the “MatchesPlayed” played from the players of state Maharashtra.

3.Find the sum of “MatchesPlayed” played by the players of state Kerala.

In [ ]:
splr.query('State=="Rajasthan"')["PlayerName"]

8    Niharika Sharma
Name: PlayerName, dtype: object

In [ ]:
splr.query('State=="Maharashtra"')["MatchesPlayed"]

0    260
Name: MatchesPlayed, dtype: int64

In [ ]:
splr.query('State=="Kerala"')["MatchesPlayed"]

4    90
Name: MatchesPlayed, dtype: int64

***`Task 6: Find the maximum “RunsScored” by any players.`***

In [ ]:
splr["RunsScored"].max()

13500

***`Task 7: Find the minimum “HighestScore” by any player from the “State” Tamil Nadu.`***

In [ ]:
splr.query('State=="Tamil Nadu"')["HighestScore"].min()

260

***`Task 8: Find the sum of  “RunsScored” by all the players.`***

In [ ]:
splr["RunsScored"].sum()

133800

***`Task 9: Find the average of  “BattingAverage” by the players whose RunsScored is less than 5000.`***

In [ ]:
splr.query('RunsScored<5000')["BattingAverage"].mean()

40.473333333333336

***`Task 10: Find the minimum number of  “MatchesPlayed” by the players who have“BattingAverage” of 60.84`***

In [ ]:
splr.query('BattingAverage==60.84')["MatchesPlayed"].min()

130

***`Task 11: Find the sum of  “MatchesPlayed” by the players who have “BattingAverage” more than 55.`***

In [ ]:
splr.query('BattingAverage>55')["MatchesPlayed"].sum()

1369

***`Task 12: Find the average of “HighestScore”  among the players whose “RunsScored”  is equal to 12000.`***

In [ ]:
splr.query('RunsScored==12000')["HighestScore"].mean()

262.75

***`Task 13: Find the number of players whose “RunsScored” is equal to 12000.`***

In [ ]:
splr.query('RunsScored==12000')["RunsScored"].count()

4

***`Task 14: Find the average of “BattingAverage” among the players who have a number of “MatchesPlayed” greater than equal to 100.`***

In [ ]:
splr.query('MatchesPlayed>=100')["BattingAverage"].mean()

53.559230769230766

# StateWise-CricketPlayers_3.2

***`Task 1: Print the first five rows of “splr” dataframe.`***

In [ ]:
splr.head()

,PlayerName,Team,State,MatchesPlayed,RunsScored,BattingAverage,HighestScore
0,Aarav Kapoor,MUM,Maharashtra,260,13500,58.92,271
1,Diya Patel,AMD,Gujarat,130,7000,60.84,245
2,Ishan Sharma,CHE,Tamil Nadu,150,8200,47.25,260
3,Riya Gupta,BLR,Karnataka,100,5600,51.38,249
4,Kabir Singh,TVM,Kerala,90,4000,44.20,188

***`Task 2: Retrieve all the columns of the player who has played the minimum number of matches.`***

In [ ]:
splr.query('MatchesPlayed==MatchesPlayed.min()')

,PlayerName,Team,State,MatchesPlayed,RunsScored,BattingAverage,HighestScore
9,Vikram Chauhan,CHD,Punjab,80,2800,35.37,265

***`Task 3:  Retrieve all the columns of the players who have the maximum number of RunsScored. `***

In [ ]:
splr.query('RunsScored==RunsScored.max()')

,PlayerName,Team,State,MatchesPlayed,RunsScored,BattingAverage,HighestScore
0,Aarav Kapoor,MUM,Maharashtra,260,13500,58.92,271
13,Advik Patel,CHD,Haryana,150,13500,60.84,245

***`Task 4:  Retrieve the name of the Players who have the maximum number of RunsScored. `***

In [ ]:
splr.query('RunsScored==RunsScored.max()')["PlayerName"]

0     Aarav Kapoor
13     Advik Patel
Name: PlayerName, dtype: object

***`Task 5: Retrieve the names of the Team to which the players with the maximum of BattingAverage belong.`***

In [ ]:
splr.query('BattingAverage==BattingAverage.max()')["PlayerName"]

1       Diya Patel
11    Yuvraj Singh
13     Advik Patel
14     Rahul Patel
Name: PlayerName, dtype: object

***`Task 6: Retrieve the name of the State which has the Lowest RunsScored.`***

In [ ]:
splr.query('RunsScored==RunsScored.min()')["State"]

9    Punjab
Name: State, dtype: object

***`Task 7: Retrieve the name of players whose MatchesPlayed is more than the average number of matches played by the players.`***

In [ ]:
splr.query('MatchesPlayed>MatchesPlayed.mean()')["PlayerName"]

0     Aarav Kapoor
5        Zara Khan
6     Ananya Reddy
10     Meera Joshi
11    Yuvraj Singh
14     Rahul Patel
Name: PlayerName, dtype: object

***`Task 8: Retrieve the name of the states whose RunsScored  is less than the average RunsScored of all the teams.`***

In [ ]:
splr.query('RunsScored<RunsScored.mean()')["State"]

1       Gujarat
2    Tamil Nadu
3     Karnataka
4        Kerala
6         Delhi
7     Telangana
8     Rajasthan
9        Punjab
Name: State, dtype: object

***`Task 9: Retrieve the name of the Team that has the minimum HighestScore of matches.`***

In [ ]:
splr.query('HighestScore==HighestScore.min()')["Team"]

8    JAI
Name: Team, dtype: object

***`Task 10: Retrieve the name of the Team that has the maximum HighestScore of matches.`***

In [ ]:
splr.query('HighestScore==HighestScore.max()')["Team"]

6    DEL
Name: Team, dtype: object