# IPL Zone Wise-data 3.1

***`Task 1: Import the pandas library`***

In [ ]:
import pandas as pd

***`Task 2: Create a dataframe named “ipl” from a given URL.`***

https://raw.githubusercontent.com/Anpr1211/DOE_Datasets/main/DOE3_IPL.csv

In [ ]:
ipl=pd.read_csv("https://raw.githubusercontent.com/Anpr1211/DOE_Datasets/main/DOE3_IPL.csv")
ipl

,Teams,Zone,TotalMatches,MatchesWon,MatchesLost,WinPercent
0,Mumbai Indians,West,120,80,40,66.67
1,Chennai Super Kings,South,90,70,20,77.78
2,Kolkata Knight Riders,East,110,60,50,54.55
3,Royal Challengers Bangalore,South,100,40,60,40.00
4,Rajasthan Royals,West,80,50,30,62.50
5,Sunrisers Hyderabad,South,100,50,50,50.00
6,Delhi Capitals,North,110,60,50,54.55
7,Lucknow Super Giants,North,50,25,25,50.00
8,Punjab Kings,North,90,40,50,44.44
9,Gujarat Titans,West,60,30,30,50.00

***`Task 3: Find the data  of the teams from the West Zone`***

In [ ]:
ipl.query('Zone=="West"')

              Teams  Zone  TotalMatches  MatchesWon  MatchesLost  WinPercent
0    Mumbai Indians  West           120          80           40       66.67
4  Rajasthan Royals  West            80          50           30       62.50
9    Gujarat Titans  West            60          30           30       50.00

***`Task 4: Find the data  of the teams from the East Zone`***

In [ ]:
ipl.query('Zone=="East"')

,Teams,Zone,TotalMatches,MatchesWon,MatchesLost,WinPercent
2,Kolkata Knight Riders,East,110,60,50,54.55

***`Task 5: `***

1.List down the names of  “Teams” from the West zone.

2.List down the “TotalMatches” played from the West zone.

3.Find the sum of “TotalMatches” played by the teams from the West Zone.

In [ ]:
ipl.query('Zone=="West"')["Teams"]

0      Mumbai Indians
4    Rajasthan Royals
9      Gujarat Titans
Name: Teams, dtype: object

In [ ]:
ipl.query('Zone=="West"')['TotalMatches']

0    120
4     80
9     60
Name: TotalMatches, dtype: int64

In [ ]:
ipl.query('Zone=="West"')['TotalMatches'].sum()

260

***`Task 6: Find the maximum number of MatchesWon by any team from the South zone.`***

In [ ]:
ipl.query('Zone=="South"')["MatchesWon"].max()

70

***`Task 7: Find the minimum number of MatchesWon by any team from the South zone.`***

In [ ]:
ipl.query('Zone=="South"')["MatchesWon"].min()

40

***`Task 8: Find the sum of  “MatchesLost” by the team from the South zone.`***

In [ ]:
ipl.query('Zone=="South"')["MatchesLost"].sum()

130

***`Task 9: Find the sum of  “MatchesLost” by the team from the North zone.`***

In [ ]:
ipl.query('Zone=="North"')["MatchesLost"].sum()

125

***`Task 10: Find the sum of  “MatchesLost” played by the teams that have lost less than 50 matches.`***

In [ ]:
ipl.query('MatchesLost<50')["MatchesLost"].sum()

145

***`Task 11: Find the sum of “MatchesWon” played by the teams that have a win percentage of more than 50.`***

In [ ]:
ipl.query('WinPercent>50')["MatchesWon"].sum()

320

***`Task 12: Find the average of win percent among the teams from the North Zone.`***

In [ ]:
ipl.query('Zone=="North"')["WinPercent"].mean()

49.663333333333334

***`Task 13: Find the average of win percent among the teams from the South Zone.`***

In [ ]:
ipl.query('Zone=="South"')["WinPercent"].mean()

55.92666666666667

***`Task 14: Find the average of MatchesLost among the teams who have a number of MatchesLost  greater than equal to 50.`***

In [ ]:
ipl.query('MatchesLost>=50')["MatchesLost"].mean()

52.0

# IPL Zone Wise-data 3.2

***`Task 1: Print the first five rows of “ipl” dataframe.`***

In [ ]:
ipl.head()

,Teams,Zone,TotalMatches,MatchesWon,MatchesLost,WinPercent
0,Mumbai Indians,West,120,80,40,66.67
1,Chennai Super Kings,South,90,70,20,77.78
2,Kolkata Knight Riders,East,110,60,50,54.55
3,Royal Challengers Bangalore,South,100,40,60,40.00
4,Rajasthan Royals,West,80,50,30,62.50

***`Task 2: Retrieve all the columns of the team who has played the maximum number of matches. `***

In [ ]:
ipl.query('TotalMatches==TotalMatches.max()')

            Teams  Zone  TotalMatches  MatchesWon  MatchesLost  WinPercent
0  Mumbai Indians  West           120          80           40       66.67

***`Task 3: Retrieve all the columns of the team who has won the minimum number of matches. `***

In [ ]:
ipl.query('MatchesWon==MatchesWon.min()')

,Teams,Zone,TotalMatches,MatchesWon,MatchesLost,WinPercent
7,Lucknow Super Giants,North,50,25,25,50.0

***`Task 4:  Retrieve the name of the team who has won the minimum number of matches. `***

In [ ]:
ipl.query('MatchesWon==MatchesWon.min()')["Teams"]

7    Lucknow Super Giants
Name: Teams, dtype: object

***`Task 5:  Retrieve the name of the zone to which the team with the maximum number of matches won belongs.`***

In [ ]:
ipl.query('MatchesWon==MatchesWon.max()')["Zone"]

0    West
Name: Zone, dtype: object

***`Task 6: Retrieve the name of the team with the highest win percentage.`***

In [ ]:
ipl.query('WinPercent==WinPercent.max()')["Teams"]

1    Chennai Super Kings
Name: Teams, dtype: object

***`Task 7: Retrieve the name of teams whose MatchesWon is more than the average number of matches won by the teams.`***

In [ ]:
ipl.query('MatchesWon>MatchesWon.mean()')["Teams"]

0           Mumbai Indians
1      Chennai Super Kings
2    Kolkata Knight Riders
6           Delhi Capitals
Name: Teams, dtype: object

***`Task 8: Retrieve the name of the teams whose WinPercent is less than the average WinPercent of the teams.`***

In [ ]:
ipl.query('WinPercent<WinPercent.mean()')["Teams"]

2          Kolkata Knight Riders
3    Royal Challengers Bangalore
5            Sunrisers Hyderabad
6                 Delhi Capitals
7           Lucknow Super Giants
8                   Punjab Kings
9                 Gujarat Titans
Name: Teams, dtype: object

***`Task 9: Retrieve the name of the team that has lost the minimum number of matches.`***

In [ ]:
ipl.query('MatchesLost==MatchesLost.min()')["Teams"]

1    Chennai Super Kings
Name: Teams, dtype: object

***`Task 10: Retrieve the name of the team that has lost the maximum number of matches.`***

In [ ]:
ipl.query('MatchesLost==MatchesLost.max()')["Teams"]

3    Royal Challengers Bangalore
Name: Teams, dtype: object